{{#unless article.isNew}}
	{{#unless isDeletingArticle}}
		<button {{action 'confirmDeleteArticle'}} class="delete">Poista</button>
	{{else}}
		<p>Haluatko varmasti poistaa artikkelin?
			<button {{action 'cancelArticleDeletion'}}>Peruuta</button>
			<button {{action 'deleteArticle' article}} class="delete">Poista</button>
		</p>
	{{/unless}}
{{/unless}}

<form class="new-article" {{action 'saveArticle' article on='submit'}}>

	<label>Julkaistu
		{{input type='checkbox' checked=article.released}}
	</label>

	<label>Otsikko
		{{input value=article.title}}
	</label>

	<label>Kirjoittaja
		{{#power-select
		options=authors
		selected=author
		onchange=(action 'selectAuthor') as |author|}}
			{{author.name}}
		{{/power-select}}
	</label>


	<label>Ingressi
		{{textarea rows=4 value=article.lead}}
	</label>

	<label>Teksti
		{{textarea rows=40 value=article.body}}
	</label>

	<input type="submit" value="Tallenna">

</form>
