
{{#if session.isAuthenticated}}
	{{link-to 'Uusi artikkeli' 'articles.new' class='ui-button'}}
{{/if}}

{{#memory-scroll key='sepot'}}
<ul class="article-list">

	{{#each articles as |article index|}}

	<li class="{{unless article.released 'unreleased'}}">
		<article>
			<h1>{{#link-to 'articles.article' article.id (query-params a=article.slug)}}
				{{article.title}}
			{{/link-to}}</h1>
			<p class="date">{{moment-format article.published}}</p>
			<p class="author">{{article.author.name}}</p>
			<p class="lead">
				{{format-markdown article.lead}}
			</p>
		</article>
	</li>

	{{else}}
	<p>Ei artikkeleita :(</p>
	{{/each}}

</ul>
{{/memory-scroll}}
