
<article class="fullArticle">

	<h1>{{model.title}}</h1>

	<div class="meta">
		<p>Kirjoittaja {{model.author}}</p>
		<p>Julkaistu {{model.published}}</p>
		{{#if model.updated}}
			<p>Muokattu {{model.updated}}</p>
		{{/if}}
	</div>

	<p>{{model.lead}}</p>

	{{markdown-to-html markdown=model.body}}

	{{outlet}}

</article>