
<article class="full-article">

	<h1>{{model.title}} {{#link-to 'articles.article.edit' model.id class='ui-button'}}Muokkaa{{/link-to}}</h1>

	<div class="meta clearfix">

		<figure class="avatar">
			{{gravatar-image
			email=model.author.email
			alt=model.author.name
			defaultImage='mm'
			size=100}}
		</figure>

		<p>Kirjoittaja {{model.author.name}}</p>
		<p>Julkaistu {{moment-format model.published}} ({{moment-from-now model.published}})</p>
		{{#if model.updated}}
			<p>Muokattu {{moment-format model.updated}} ({{moment-from-now model.updated}})</p>
		{{/if}}

	</div>

	<p class="lead">{{model.lead}}</p>

	{{markdown-to-html markdown=model.body}}

	{{outlet}}

</article>