
<article class="full-article">

	<h1>{{model.title}}</h1>

	<div class="meta">
		<p>Kirjoittaja {{model.author}}</p>
		<p>Julkaistu {{moment-format model.published}} ({{moment-from-now model.published}})</p>
		{{#if model.updated}}
			<p>Muokattu {{moment-format model.updated}} ({{moment-from-now model.updated}})</p>
		{{/if}}
		{{#link-to 'articles.article.edit' model.id}}Muokkaa{{/link-to}}
	</div>

	<p class="lead">{{model.lead}}</p>

	{{markdown-to-html markdown=model.body}}

	{{outlet}}

</article>