<form class="new-article" {{action 'saveArticle' model on='submit'}}>

	<input type="submit" value="Tallenna">

	<label>Otsikko</label>
	{{input value=model.title}}
{{selectedAuthor}}
	<label>Kirjoittaja</label>
	{{#power-select
	options=authors
	selected=selectedAuthor
	onchange=(action 'selectAuthor') as |author|}}
		{{author.name}}
	{{/power-select}}

	<label>Ingressi</label>
	{{textarea cols=100 rows=4 value=model.lead}}

	<label>Teksti</label>
	{{textarea cols=100 rows=40 value=model.body}}

	<input type="submit" value="Tallenna">

</form>

{{outlet}}
