{{#ivy-tabs selection=selection as |tabs|}}

	{{#tabs.tablist as |tablist|}}
	<ul class="preview-menu clearfix" role="presentation">
		<li role="presentation">
			{{#tablist.tab "Edit" on-select=(action (mut selection))}}Muokkaus{{/tablist.tab}}
		</li>
		<li role="presentation">
			{{#tablist.tab "Preview" on-select=(action (mut selection))}}Esikatselu{{/tablist.tab}}
		</li>
	</ul>
	{{/tabs.tablist}}

	{{#tabs.tabpanel "Edit"}}

	<form class="new-article" {{action 'saveArticle' model.article on='submit'}}>

		<input type="submit" value="Tallenna">

		<label>Julkaistu</label>
		{{input type='checkbox' checked=model.article.released}}

		<label>Otsikko</label>
		{{input value=model.article.title}}

		<label>Kirjoittaja</label>
		{{#power-select
		options=model.authors
		selected=model.article.author
		onchange=(action 'selectAuthor') as |author|}}
			{{author.name}}
		{{/power-select}}

		<label>Ingressi</label>
		{{textarea cols=100 rows=4 value=model.article.lead}}

		<label>Teksti</label>
		{{textarea cols=100 rows=40 value=model.article.body}}

		<input type="submit" value="Tallenna">

	</form>

	{{/tabs.tabpanel}}

	{{#tabs.tabpanel "Preview"}}
	{{es-article
		article=model.article
		author=model.article.author
	}}
	{{/tabs.tabpanel}}

{{/ivy-tabs}}