{{#ivy-tabs selection=selection as |tabs|}}

	{{#tabs.tablist as |tablist|}}
	<ul class="preview-menu clearfix" role="presentation">
		<li role="presentation">
			{{#tablist.tab "Edit" on-select=(action (mut selection))}}Muokkaus{{/tablist.tab}}
		</li>
		<li role="presentation">
			{{#tablist.tab "Preview" on-select=(action (mut selection))}}Esikatselu{{/tablist.tab}}
		</li>
	</ul>
	{{/tabs.tablist}}

	{{#tabs.tabpanel "Edit"}}

	<form class="new-article" {{action 'saveArticle' model.article on='submit'}}>

		{{#unless model.article.isNew}}
			<button {{action 'deleteArticle' model.article}} class="delete">Poista</button>
		{{/unless}}

		<label>Julkaistu
			{{input type='checkbox' checked=model.article.released}}
		</label>

		<label>Otsikko
			{{input value=model.article.title}}
		</label>

		<label>Kirjoittaja
			{{#power-select
			options=model.authors
			selected=model.article.author
			onchange=(action 'selectAuthor') as |author|}}
				{{author.name}}
			{{/power-select}}
		</label>


		<label>Ingressi
			{{textarea rows=4 value=model.article.lead}}
		</label>

		<label>Teksti
			{{textarea rows=40 value=model.article.body}}
		</label>

		<input type="submit" value="Tallenna">

	</form>

	{{/tabs.tabpanel}}

	{{#tabs.tabpanel "Preview"}}
	{{es-article
		article=model.article
		author=model.article.author
	}}
	{{/tabs.tabpanel}}

{{/ivy-tabs}}