<header>

	{{#if session.isAuthenticated}}

	<div class="loginInfo">
		<p>Kirjautuneena:
			{{#if model.name}}
				{{link-to model.name 'user'}}
			{{else}}
				{{link-to session.email 'user'}}
			{{/if}}
		</p>

		<figure class="avatar">
			{{gravatar-image
			email=model.email
			alt=model.name
			defaultImage='mm'
			size=40
			retina=true}}
		</figure>

		<button {{action 'signOut'}} class="log-out">Kirjaudu ulos</button>

	</div>
	{{/if}}

	{{#link-to 'index' class='logo'}}<img src="/images/es.svg" alt="Ember Suomi logo">{{/link-to}}

	<h1>{{#link-to 'index'}}Ember Suomi{{/link-to}}</h1>
	<h2>Sovelluskehys kunnianhimoisten verkkosovellusten kehittämiseen</h2>

	<nav class="main-nav">
		{{#link-to 'index'}}Artikkelit{{/link-to}}
		{{!-- {{#link-to 'articles'}}Artikkelit{{/link-to}} --}}
		{{#link-to 'resources'}}Resurssit{{/link-to}}
		{{#link-to 'about'}}Tietoa sivusta{{/link-to}}
		{{!-- {{#link-to 'authors'}}Kirjoittajat{{/link-to}} --}}
	</nav>

</header>

<main class="clearfix">

{{liquid-outlet}}

</main>

<footer class="clearfix">

	<div class="logo" {{action 'toggleAdminPanel' 'showRightSlideMenu'}}><img src="/images/es.svg" alt="Ember Suomi logo"></div>

	<nav>
		<ul>
			<li><a href="https://twitter.com/EmberSuomi">@EmberSuomi</a></li>
			<li><a href="mailto:embersuomi@gmail.com">embersuomi@gmail.com</a></li>
			<li>Ylläpito: <a href="//twitter.com/jlemmetti">Jurkka Lemmetti</a></li>
			<li><a href="https://github.com/jlemmetti/Ember-Suomi">GitHub</a></li>
			<li><a href="https://trello.com/b/KvNkbtLF/ember-suomi">Tiekartta</a></li>
		</ul>
	</nav>

	<small>This page is unaffiliated with the Ember project. Ember is a trademark of Tilde Inc</small>

</footer>

{{#esp-menu
	customClasses='admin-panel'
	position='right'
	pushMenu=pushRightMenu
	open=showRightSlideMenu
}}

	<div class="container">
		<h2>Asetukset</h2>

		{{#unless session.isAuthenticated}}

			<form class="login-form" {{action 'signIn' 'password' on='submit'}}>

				<h3>Kirjautuminen</h3>

				<label>Sähköposti: {{input type='email' value=email}}</label>
				<label>Salasana: {{input type='password' value=password}}</label>
				<input type="submit" value="Kirjaudu">
			</form>

		{{else}}
			<button {{action 'signOut'}} class="log-out">Kirjaudu ulos</button>
		{{/unless}}

		<button class="close-button" {{action 'toggleAdminPanel' 'showRightSlideMenu'}}>‎╳</button>
	</div>

{{/esp-menu}}