<header>

	<p class="loginInfo">
	{{#if session.isAuthenticated}}
		Kirjautuneena: {{session.displayName}}
			<button {{action 'signOut'}}>Sign out</button>
	{{else}}
		<button {{action 'signIn' 'twitter'}}>Kirjaudu</button>
	{{/if}}
	</p>


	<a href="/" class="logo"><img src="images/es.svg" alt="Ember Suomi logo"></a>

	<h1><a href="/">Ember Suomi</a></h1>
	<h2>Sovelluskehys kunnianhimoisten verkkosovellusten kehittämiseen</h2>

	<nav class="main-nav">
		{{#link-to 'index'}}Etusivu{{/link-to}}
		{{#link-to 'articles'}}Artikkelit{{/link-to}}
		{{!-- {{#link-to 'snippets'}}Koodiesimerkit{{/link-to}} --}}
		{{#link-to 'about'}}Tietoa sivusta{{/link-to}}
		{{#link-to 'authors'}}Kirjoittajat{{/link-to}}
	</nav>

</header>

<main class="clearfix">

{{liquid-outlet}}

</main>

<footer>

	<a href="/" class="logo"><img src="images/es.svg" alt="Ember Suomi logo"></a>

	<nav>
		<ul>
			<li><a href="https://twitter.com/EmberSuomi">@EmberSuomi</a></li>
			<li><a href="mailto:embersuomi@gmail.com">embersuomi@gmail.com</a></li>
			<li>Ylläpito: <a href="//twitter.com/jlemmetti">Jurkka Lemmetti</a></li>
			<li><a href="https://trello.com/b/KvNkbtLF/ember-suomi">Roadmap</a></li>
		</ul>
	</nav>

</footer>

