<header>

	{{#if session.isAuthenticated}}

	<div class="loginInfo">
		<p>Kirjautuneena:
			{{#if model.name}}
				{{link-to model.name 'user'}}
			{{else}}
				{{link-to session.email 'user'}}
			{{/if}}
		</p>

		<figure class="avatar">
			{{gravatar-image
			email=model.email
			alt=model.name
			defaultImage='mm'
			size=40
			retina=true}}
		</figure>

		<button {{action 'signOut'}} class="signOut">Kirjaudu ulos</button>

	</div>
	{{/if}}

	<a href="/" class="logo"><img src="/images/es.svg" alt="Ember Suomi logo"></a>

	<h1><a href="/">Ember Suomi</a></h1>
	<h2>Sovelluskehys kunnianhimoisten verkkosovellusten kehittämiseen</h2>

	<nav class="main-nav">
		{{#link-to 'index'}}Etusivu{{/link-to}}
		{{!-- {{#link-to 'articles'}}Artikkelit{{/link-to}} --}}
		{{!-- {{#link-to 'snippets'}}Koodiesimerkit{{/link-to}} --}}
		{{#link-to 'about'}}Tietoa sivusta{{/link-to}}
		{{#link-to 'authors'}}Kirjoittajat{{/link-to}}
	</nav>

</header>

<main class="clearfix">

{{liquid-outlet}}

</main>

<footer class="clearfix">

	<a href="/" class="logo"><img src="/images/es.svg" alt="Ember Suomi logo"></a>

	<nav>
		<ul>
			<li><a href="https://twitter.com/EmberSuomi">@EmberSuomi</a></li>
			<li><a href="mailto:embersuomi@gmail.com">embersuomi@gmail.com</a></li>
			<li>Ylläpito: <a href="//twitter.com/jlemmetti">Jurkka Lemmetti</a></li>
			<li><a href="https://trello.com/b/KvNkbtLF/ember-suomi">Roadmap</a></li>
		</ul>
	</nav>

	<small>This page is unaffiliated with the Ember project. Ember is a trademark of Tilde Inc</small>

	<p class="loginInfo">
	{{#unless session.isAuthenticated}}
		<label>Sähköposti: {{input value=email}}</label>
		<label>salasana: {{input type='password' value=password}}</label>
		<button {{action 'signIn' 'password'}}>Kirjaudu</button>
	{{/unless}}
	</p>

</footer>

