
<h1>Artikkelit</h1>

{{#link-to 'articles.new'}}Uusi{{/link-to}}

<ul class="article-list">
	{{#each model as |article index|}}

	<h1>{{#link-to 'articles.article' article}}{{article.title}}{{/link-to}}
		<button {{action 'deleteArticle' article}}>[X]</button>
	</h1>
	<h2>{{article.lead}}</h2>

	{{else}}
	<p>Ei artikkeleita :(</p>
	{{/each}}
</ul>


{{outlet}}
