
<h1>Artikkelit
	{{#if session.isAuthenticated}}
		{{#link-to 'articles.new' class='ui-button'}}Uusi artikkeli{{/link-to}}
	{{/if}}
</h1>

{{#memory-scroll key='sepot'}}
<ul class="article-list">

	{{#each sortedArticles as |article index|}}

	<li class="{{unless article.released 'unreleased'}}">
		<article>
			<h1>{{#link-to 'articles.article' article.id}}{{article.title}}{{/link-to}}
				{{#if session.isAuthenticated}}
					<button {{action 'deleteArticle' article}}>x</button>
				{{/if}}
			</h1>
			<p class="date">{{moment-format article.published}}</p>
			<p>{{article.author.name}}</p>
			<p>{{article.lead}}</p>
		</article>
	</li>

	{{else}}
	<p>Ei artikkeleita :(</p>
	{{/each}}

</ul>
{{/memory-scroll}}

{{outlet}}
