
<form {{action 'createArticle' on='submit'}}>

<label>Otsikko</label>
{{input value=title}}

<label>Teksti</label>
{{input value=body}}

<input type="submit" value="Tallenna">

</form>

<h1>Artikkelit</h1>

<ul>
	{{#each model as |article index|}}

	<h1>{{#link-to 'articles.article' article}}{{article.title}}{{/link-to}}
		<button {{action 'deleteArticle' article}}>[X]</button>
	</h1>
	<h2>{{article.lead}}</h2>

	{{else}}
	<p>Ei artikkeleita :(</p>
	{{/each}}
</ul>


{{outlet}}
