
<h1>Kirjoittajat {{#link-to 'authors.new' class='ui-button'}}Uusi kirjoittaja{{/link-to}}</h1>

{{outlet}}

<ul class="author-list">
	{{#each model as |author index|}}

	<li class="clearfix">
		<section>

			<figure class="avatar">
				{{gravatar-image
				email=author.email
				alt=author.name
				defaultImage='mm'
				size=150
				retina=true}}
			</figure>

			<h1>{{author.name}}
				{{#if author.id}}
					<button {{action 'deleteAuthor' author}}>x</button>
					{{#link-to 'authors.author.edit' author.id class='ui-button'}}Muokkaa{{/link-to}}
				{{/if}}
			</h1>

			{{markdown-to-html markdown=author.bio class='bio'}}

			<div class="meta">
				{{#if author.twitter}}
					<p><a href="https://twitter.com/{{author.twitter}}">{{author.twitter}}</a></p>
				{{/if}}
				{{#if author.email}}
					<p><a href="mailto:{{author.email}}">{{author.email}}</a></p>
				{{/if}}
				{{#if author.github}}
					<p><a href="https://github.com/{{author.github}}">Github</a></p>
				{{/if}}
			</div>

		</section>
	</li>

	{{else}}
	<p>Ei kirjoittajia :(</p>
	{{/each}}
</ul>

