<form class="new-author clearfix" {{action 'saveAuthor' model on='submit'}}>

	<label>Nimi</label>
	{{input size=30 value=model.name}}

	<label>Twitter</label>
	{{input size=30 value=model.twitter}}

	<label>Github</label>
	{{input size=30 value=model.github}}

	<label>Sähköposti</label>
	<p>{{session.email}}</p>

	<label>Firebase UID</label>
	<p>{{session.uid}}</p>

	<label>Esittely</label>
	{{textarea cols=100 rows=10 value=model.bio}}

	<input type="submit" value="Tallenna">

	<button {{action 'resetPassword'}} class="reset">Nollaa salasana</button>

</form>
